@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
}

section,
footer,
.lower__footer {
  margin: 0 5vw;
}

section:first-of-type {
  margin: 0;
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}